* {
  box-sizing: border-box;
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* legacy edge */
}

*::-webkit-scrollbar {
  display: none; /* chrome, safari, opera */
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
